<link href="~/Content/bootstrap.min.css" />
<link href="~/Content/Site.css" />
<script src="~/Scripts/bootstrap.min.js"></script>

<div id="body">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-container">
                <div class="lower">
                    <h1>MY RATING</h1>
                    <p id="under">Current CLient Rating</p>

                    <div id="store">
                        <div class="progress-circle over50 p66">
                            <span>7.4</span>
                            <div class="left-half-clipper">
                                <div class="first50-bar"></div>
                                <div class="value-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br /><br /><Br />
                <div class="karriem">
                    <div class="">@*separate*@
                        <div class="days">
                            <p class="increase">
                                Rating has increased over
                            </p>

                            <p class="over">
                                last 30 days
                            </p>
                        </div>

                    </div>
                </div>
                <p class="rate">
                    Bosed on 32 Rartings
                </p>
            </div>
        </div>
    </div>
</div>
                @*<div class="karriem">
                    <div class="separate">
                        <div class="days">
                            <p class="increase">
                                Rating has increased over
                            </p>

                            <p class="over">
                                last 30 days
                            </p>
                        </div>

                    </div>
                </div>*@

                <div class="col-md-12">
                 
                    @*<p class="rate">
                        Bosed on 32 Rartings
                    </p>*@
                <div class="holder" style="height:80px;width:450px;">

                   <a href="rating.html"> <button type="button" class="btn btn btn-cons">VIEW LAST RATING</button></a>

                </div>
       
</div>
        </div>