
<link href="~/Content/bootstrap.css" />
<link href="~/Content/Site.css" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div claas="shift" style="margin-left: 18px; height: 400px;">
                            <h1 style="font-weight: bold;">My Profile</h1>
                            <h2 style="font-family: Furuta;color: #006150;font-weight: bold;">I AM</h2>
                            <p>Name & Surname:</p>
                            <p>Joe Soap</p>

                            <div class="wrapper" style="width: 50%;">
                                <img src="~/images/joe.jpg" class="image-responsive" style="display: block;height: auto; max-width:100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<h1 style="margin-left: 18px;">General Actions</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left:18px; height: 400px;">

                                    <br />
                                    <br />

                                    <b> Topic/Objectives:</b> Velocity Profile
                                    <br />
                                    <br />

                                    <b> Venue :</b> N/A
                                    <br />
                                    <br />

                                    <b> Date:</b> 26 May 2018
                                    <br />
                                    <br />

                                    <b>Pre-work:</b> None
                                    <br />
                                    <br />

                                    <b>Status/Feedback category:</b> Sent to Angelique Brand:
                                    <br />
                                    <br />

                                    <label style="font-size: 21px;">
                                        Yes
                                        <input type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span>
                                    </label>

                                    <label style="font-size: 21px;">
                                        No
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>
                                    </label>

                                    <div class="col-2">
                                        <input type="text" class="form-control"style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            If no,please provide reason
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


@*second *@



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px; height: 400px;">

                                    <br />
                                    <br />

                                    <b> Topic/Objectives:</b> Velocity Profile
                                    <br />
                                    <br />

                                    <b> Venue :</b> N/A
                                    <br />
                                    <br />

                                    <b> Date:</b> 26 May 2018
                                    <br />
                                    <br />

                                    <b>Pre-work:</b> None
                                    <br />
                                    <br />

                                    <b>Status/Feedback category:</b> Sent to Angelique Brand:
                                    <br />
                                    <br />

                                    @*checkbox*@

                                    <label style="font-size: 21px;">
                                        Yes
                                        <input type="radio" checked="checked" name="radio">
                                    </label>

                                    <label style="font-size: 21px;">
                                        No
                                        <input type="radio" name="radio">
                                    </label>

                                    <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            If no,please provide reason
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


@*third*@

<div class="container">
    <h1>Core Development</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px; height:593px;">

                                    <br />
                                    <br />

                                    <b> MD Challenge:</b> Team meetings April
                                    <br />
                                    <br />

                                    <b> Due Date:</b> 10 April
                                    <br />
                                    <br />

                                    <b>Pre-work:</b>
                                    <br /><div class="grey">Download training Doc</div>
                                    <br />
                                    <br />

                                    <b>Status/Feedback:</b>

                                    <br />
                                    Number of meetings held
                                    <br />
                                    <br />


                                    @*checkbox*@

                                    <label style="display: inline-block;width:36px;">
                                        <input type="radio" checked="checked" name="radio" style="display: block;margin: 0 auto;">
                                        <div class="num" style="display: inline-block; margin-left: 15px;"> 1</div>
                                    </label>
                                    <label style="display: inline-block; width:36px;">
                                        <input type="radio" checked="checked" name="radio" style="display: block;margin: 0 auto;">
                                        <div class="num" style="display: inline-block; margin-left: 15px;"> 2</div>
                                    </label>


                                    <label style="display: inline-block; width:36px;">
                                        <input type="radio" checked="checked" name="radio" style="display: block;margin: 0 auto;">
                                        <div class="num" style="display: inline-block;margin-left: 15px;"> 3</div>
                                    </label>

                                    <label style="display: inline-block; width:36px;">
                                        <input type="radio" checked="checked" name="radio" style="display: block;margin: 0 auto;">
                                        <div class="num" style="display: inline-block; margin-left: 15px;"> 4</div>
                                    </label>


                                    <label style="display: inline-block; width:36px;">
                                        <input type="radio" checked="checked" name="radio" style="display: block;margin: 0 auto;">
                                        <div class="num" style="display: inline-block; margin-left: 15px;"> 5</div>
                                    </label>

                                    <br />
                                    <br />
                                    What percentange of the team on average attended the team meetings
                                    <br />
                                    <br />


                                    @*percentage*@

                                    <label style="display: inline-block; width: 36px;">
                                        <input type="radio" checked="checked" name="radio" style="display: block;margin: 0 auto;">
                                        <div class="num" style="display: inline-block; margin-left: 5px;"> 100%</div>
                                        
                                    </label>

                                    <label style="display: inline-block; width: 36px;">
                                        <input type="radio" checked="checked" name="radio" style="display: block;margin: 0 auto;">
                                        <div class="num" style="display: inline-block; margin-left: 11px;">80% </div>
                                    </label>

                                    <label style="display: inline-block; width: 36px;">
                                        <input type="radio" checked="checked" name="radio" style="display: block;margin: 0 auto;">
                                        <div class="num" style="display: inline-block; margin-left: 10px;">60% </div>
                                    </label>

                                    <label style="display: inline-block; width: 36px;">
                                        <input type="radio" checked="checked" name="radio" style="display: block;margin: 0 auto;">
                                        <div class="num" style="display: inline-block; margin-left: 9px;">40% </div>
                                    </label>

                                    <label style="display: inline-block; width: 36px;">
                                        <input type="radio" checked="checked" name="radio" style="display: block;margin: 0 auto;">
                                        <div class="num" style="display: inline-block; margin-left: 8px;">20 </div>
                                    </label>

                                    <label style="display: inline-block; width: 20px;">
                                        <input type="radio" checked="checked" name="radio" style="display: block;margin: 0 auto;">
                                        <div class="num" style="display: inline-block; margin-left: 7px;"> 0%</div>
                                    </label>



                                    <br />

                                    Who was absent and what was their reason for missing the meeting
                                    <br />
                                    <br />
                                    <div class="col-2">
                                        <input type="text" class="form-control"style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            Type here
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


@*fourth*@

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px;height: 589px;
;">
                                    <br />
                                    <br />
                                    <b>April Status Feedback</b>
                                    <br />
                                    <br />
                                    I would describe our status on the MD challenge as
                                    <br />


                                    @*checkbox*@
                                    <br />
                                    <label style="color:red;">
                                        <input type="radio" checked="checked" name="radio">
                                        RED
                                    </label>

                                    <br />
                                    We are at risk of not achieving monthly and overal delivery target
                                    <br />

                                    <label style="color:orange;">
                                        <input type="radio" name="radio">
                                        AMBER
                                    </label>

                                    <br />
                                    Some actions are outstanding,and causing a delay
                                    <br />

                                    <label style="color: green;">
                                        <input type="radio" name="radio">
                                        Green
                                    </label>

                                    <br />
                                    We are on track
                                    <br />
                                    <br />
                                    All objectives for April are achived
                                    <br />
                                    <br />
                                    <div class="right" style="float: right; margin-right: 28px;">

                                        <label style="font-size: 21px;">
                                            Yes
                                            <input type="radio" checked="checked" name="radio">
                                        </label>

                                        <label style="font-size: 21px;">
                                            No
                                            <input type="radio" name="radio">
                                        </label>
                                    </div>

                                    <br />
                                    <br />
                                    What is delaying progress
                                    <br />
                                    <br />

                                   <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea;">
                                       <div class="placeholder">
                                           Type here
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@*firth*@



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px; height:139px;">
                                    <br />
                                    <br />
                                    <b>MD Challenge:</b> Team Report April
                                    <br />
                                    <b>Feedback:</b> Complete
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*sixth*@

<h1 style="margin-left: 18px; font-weight: bold;">Tutor Feedback</h1>
<h2 style="margin-left: 18px;">(completed by users)</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px; height: 282px;">
                                    <br />
                                    <br />
                                    Provide feedback to participants and provide information that the group may not be aware of.
                                    <br />

                                    @*checkbox*@
                                    <br />
                                    <label style="font-size: 21px;">
                                        Yes
                                        <input type="radio" checked="checked" name="radio">
                                    </label>

                                    <label style="font-size: 21px;">
                                        No
                                        <input type="radio" name="radio">
                                    </label>
                                    <br />
                                    <br />
                                    <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            comment
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@*seventh*@


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px; height: 282px;">
                                   <br />
                                    <br />
                                    Stretch the group by posing questions that help the group to build their strategic thinking
                                    <br />
                                    <br />

                                    <label style="font-size: 21px;">
                                        Yes
                                        <input type="radio" checked="checked" name="radio">
                                    </label>

                                    <label style="font-size: 21px;">
                                        No
                                        <input type="radio" name="radio">
                                    </label>

                                    <br />
                                    <br />
                                    <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            comment
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@*eigth*@



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left: 18px;height: 282px;">
                                    <br />
                                    <br />
                                    Guide the group to ensure that they are delving into understanding root causes before identifying solutions
                                    <br />
                                    <br />

                                    <label style="font-size: 21px;">
                                        Yes
                                        <input type="radio" checked="checked" name="radio">
                                    </label>

                                    <label style="font-size: 21px;">
                                        No
                                        <input type="radio" name="radio">
                                    </label>
                                    <br />
                                    <br />
                                    <div class="col-2">
                                        <input type="text" class="form-control" style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            comment
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@*nineth*@

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default pad">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div claas="shift" style="margin-left:18px;height: 294px;">
                                    <br />
                                    <br />
                                    Provide leadership without taking the reigns,  use positive reinforcement techniques to encourage, motivate or build confidence
                                    <br />
                                    <br />
                                    <label class="check-container" style="font-size: 21px;">
                                        Yes
                                        <input type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span>
                                    </label>

                                    <label class="check-container" style="font-size: 21px;">
                                        No
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>
                                    </label>

                                    <br />
                                    <br />
                                    <div class="col-2">
                                        <input type="text" class="form-control"style="background-color: #eaeaea;">
                                        <div class="placeholder">
                                            comment
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
